{% extends "modeladmin/index.html" %}
{% load i18n l10n staticfiles modeladmin_tags personalisation_filters %}

{% block content_main %}
        <div>
            <div class="row">
                {% block content_cols %}

                    {% block filters %}
                        {% if view.has_filters and all_count %}
                        <div class="changelist-filter col3">
                            <h2>{% trans 'Filter' %}</h2>
                            {% for spec in view.filter_specs %}{% admin_list_filter view spec %}{% endfor %}
                        </div>
                        {% endif %}
                    {% endblock %}

                    <div>
                        {% block result_list %}
                            <div class="nice-padding block_container">
                                {% if all_count %}
                                    <!-- Replace this function with a class specific one to avoid useless requests. -->
                                    {% for segment in object_list %}
                                        <div class="block">
                                            <a href="inspect/{{ segment.pk }}"><h2>{{ segment }}</h2></a>
                                            <div class="inspect_container">
                                                <ul class="inspect segment_stats">
                                                    <li class="visit_stat">
                                                        <span>{{ segment.visit_count|localize }}</span>
                                                        {% trans "Visitors are part of this segment" %}
                                                    </li>
                                                    <li class="days_stat">
                                                        <span>{{ segment.enable_date|days_since:segment.disable_date }}</span>
                                                        {% trans "Days since matching visitors are appointed to this segment" %}
                                                    </li>
                                                </ul>

                                                <ul class="inspect segment_rules">
                                                    {% for rule in segment.personalisation_timerule_related.all %}
                                                        <li class="time_rule">   
                                                            These users visit between
                                                            <span>{{ rule.start_time }} and {{ rule.end_time }}</span>
                                                        </li>
                                                    {% endfor %}

                                                    {% for rule in segment.personalisation_referralrule_related.all %}
                                                        <li class="referral_rule">   
                                                            These visits originate from
                                                            <pre>{{ rule.regex_string }}</pre>
                                                        </li>
                                                    {% endfor %}

                                                    {% for rule in segment.personalisation_visitcountrule_related.all %}
                                                        <li class="visit_count_rule">   
                                                            These users visited {{ rule.counted_page }}
                                                            <span>{{ rule.get_operator_display }} {{ rule.count }} times</span>
                                                        </li>
                                                    {% endfor %}

                                                    {% for rule in segment.personalisation_queryrule_related.all %}
                                                        <li class="query_rule">   
                                                            These users used a url with the query
                                                            <pre>?{{ rule.query_parameter }}={{ rule.query_value }}</pre>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            {% if user_can_create %}
                                            <ul class="block_actions">
                                                {% if segment.status == "disabled" %}
                                                    <li><a href="{% url 'segment:enable' segment.pk %}">enable</a></li>
                                                {% elif segment.status == "enabled" %}
                                                    <li><a href="{% url 'segment:disable' segment.pk %}">disable</a></li>
                                                {% endif %}
                                                <li><a href="edit/{{ segment.pk }}">configure this</a></li>
                                            </ul>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% if user_can_create %}
                                    {% blocktrans with url=view.create_url name=view.verbose_name %}
                                        <div class="block suggestion">
                                            <a href="{{ url }}"><span class="suggestive_text">Add a new {{name}}</span></a>
                                        </div>
                                    {% endblocktrans %}
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>

                    {% block pagination %}
                        {% if paginator.num_pages > 1 %}
                        <div class="pagination {% if view.has_filters and all_count %}col9{% else %}col12{% endif %}">
                            <p>{% blocktrans with page_obj.number as current_page and paginator.num_pages as num_pages %}Page {{ current_page }} of {{ num_pages }}.{% endblocktrans %}</p>
                            <ul>
                                {% pagination_link_previous page_obj view %}
                                {% pagination_link_next page_obj view %}
                            </ul>
                        </div>
                        {% endif %}
                    {% endblock %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
