*.swp
*.pyc
*.swo
*.python-version
*.coverage
.coverage.*

*.egg-info/

.cache/
.idea/
.tox/
.vscode/

build/
ve/
dist/
htmlcov/
docs/_build
coverage.xml
db.sqlite3

tests/sandbox/assets
node_modules

.DS_Store

.pytest_cache/

venv/
