---
sudo: false
language: python

matrix:
  include:
    # Django 1.9, Wagtail 1.9
    - python: 2.7
      env: TOXENV=py27-django19-wagtail19
    - python: 3.5
      env: TOXENV=py35-django19-wagtail19
    - python: 3.6
      env: TOXENV=py36-django19-wagtail19

    # Django 1.10, Wagtail 1.10
    - python: 2.7
      env: TOXENV=py27-django110-wagtail110
    - python: 3.5
      env: TOXENV=py35-django110-wagtail110
    - python: 3.6
      env: TOXENV=py36-django110-wagtail110

    # Django 1.11, Wagtail 1.10
    - python: 2.7
      env: TOXENV=py27-django111-wagtail110
    - python: 3.5
      env: TOXENV=py35-django111-wagtail110
    - python: 3.6
      env: TOXENV=py36-django111-wagtail110

  allow_failures:
    - python: 3.5
      env: TOXENV=lint

install:
  - pip install tox codecov

script:
  - tox

after_success:
  - tox -e coverage-report
  - codecov
