{% extends "modeladmin/wagtail_personalisation/segment/base.html" %}
{% load i18n l10n staticfiles modeladmin_tags wagtail_personalisation_filters %}

{% block toggle_view %}to List {% endblock%}

{% block result_list %}
    <div class="block-container">
        {% if all_count %}
            {% for segment in object_list %}
                <div class="block block__segment block__segment--{{ segment.status }} segment--match-{{ segment.match_any|yesno:"any,all" }} segment--{{ segment.persistent|yesno:"persistent,fleeting" }}">

                    <div class="block-header">
                        <h2>{{ segment.name }}</h2>
                        <div class="block-data">
                            <p class="block-data__description">{% trans "This segment has been visited" %}</p>
                            <p class="block-data__content">
                                <strong>{{ segment.visit_count|localize }}</strong>
                                {% trans "time" %}{{ segment.visit_count|pluralize }} {% trans "in" %}
                                <strong>{{ segment.enable_date|days_since:segment.disable_date }}</strong>
                                {% trans "day" %}{{ segment.enable_date|days_since:segment.disable_date|pluralize }}
                            </p>
                        </div>
                    </div>

                    <div class="block-rules">
                        {% for rule in segment.get_rules %}
                            <div class="block-data block-data--icon icon icon-{{ rule.icon }}">
                                <p class="block-data__description">{{ rule.description.title }}</p>
                                <p class="block-data__content">
                                    {% if rule.description.code %}
                                        <pre>{{ rule.description.value }}</pre>
                                    {% else %}
                                        <span>{{ rule.description.value }}</span>
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="block-footer">
                        <div class="block-stats">
                            <p class="block-stats__content">
                                {% trans "Active on" %}
                                <strong>{{ segment.get_used_pages|length }}</strong>
                                {% trans "page" %}{{ segment.get_used_pages|length|pluralize }} {% trans "and" %}
                                <strong>{{ segment.get_created_variants|length }}</strong>
                                {% trans "variant" %}{{ segment.get_created_variants|length|pluralize }}.
                            </p>
                        </div>
                        <ul class="block-actions">
                            {% if segment.status == segment.STATUS_DISABLED %}
                                <li class="block-actions__action">
                                    {% if user_can_create %}
                                        <a href="{% url 'segment:toggle' segment.pk %}" title="{% trans "Enable this segment" %}">enable</a>
                                    {% else %}
                                        <span>enabled</span>
                                    {% endif %}
                                </li>
                            {% elif segment.status == segment.STATUS_ENABLED %}
                                <li class="block-actions__action">
                                    {% if user_can_create %}
                                        <a href="{% url 'segment:toggle' segment.pk %}" title="{% trans "Disable this segment" %}">disable</a>
                                    {% else %}
                                        <span>disabled</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                            <li class="block-actions__action">
                                <a href="{% url 'wagtail_personalisation_segment_modeladmin_inspect' segment.pk %}" title="{% trans "Inspect this segment" %}">inspect</a>
                            </li>
                            {% if user_can_create %}
                            <li class="block-actions__action">
                                <a href="{% url 'wagtail_personalisation_segment_modeladmin_edit' segment.pk %}" title="{% trans "Edit this segment" %}">edit</a>
                            </li>
                            <li class="block-actions__action">
                                <a href="{% url 'wagtail_personalisation_segment_modeladmin_delete' segment.pk %}" title="{% trans "Delete this segment" %}">delete</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            {% endfor %}
        {% endif %}

        {% if user_can_create %}
            {% blocktrans with url=view.create_url name=view.verbose_name %}
                <a class="block block__suggestion" href="{{ url }}">
                    <span class="suggestive_text">Add a new {{ name }}</span>
                </a>
            {% endblocktrans %}
        {% endif %}
    </div>
{% endblock %}
