$color-gray: #D0D2D3;
$color-light-gray: #F6F6F6;
$color-dark-gray: #727272;
$block-spacing: 20px;

.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .block {
        display: block;
        box-sizing: border-box;
        width: 22%;
        min-width: 280px;
        margin: 1.5%;
        border: 1px solid $color-gray;
        border-radius: 3px;

        &__segment {
            .block-header,
            .block-rules,
            .block-footer {
                display: block;
                box-sizing: border-box;
            }

            .block-header {
                padding: $block-spacing;
                border-bottom: 1px solid $color-gray;

                h2 {
                    margin-top: 0;
                }
            }

            .block-rules {
                padding: $block-spacing 0;
            }

            .block-footer {
                padding: $block-spacing / 2 $block-spacing;
                border-top: 1px solid $color-gray;
                background-color: $color-light-gray;
            }

            .block-data {
                &__description {
                    margin-bottom: 3px;
                    font-size: 14px;
                    color: $color-dark-gray;
                }

                &__content {
                    margin-bottom: 0;
                    font-size: 18px;
                }

                &--icon {
                    .block-data__description {
                        padding-left: 1.5em;
                    }
                }
            }

            .block-stats {
                &__content {
                    margin-bottom: 3px;
                }
            }

            .block-actions {
                margin: 0;
                padding: 0;
                list-style: none;

                &__action {
                    display: inline-block;
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

            }
        }
    }
}
