{% extends "wagtailadmin/base.html" %}
{% load i18n staticfiles %}
{% block titletag %}{% trans "Visit Coint Rule" %}{% endblock %}


{% block content %}
    <div class="nice-padding">
        <h2>Visit count</h2>
        <p>Define a referring page, domain or query the user has to come from.</p>
    </div>

    <div class="nice-padding">
        <form class="embed-form" action="" method="POST" novalidate>
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li><button type="submit" class="button  button-longrunning"><span class="icon icon-spinner"></span><em>{% trans 'Insert' %}</em></button></li>
            </ul>
        </form>
    </div>
{% endblock %}
